<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listado de personas</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
    </head>
    <body>
        <h1 th:text="#{personas.listado.title}">Personas</h1>
        
        <form class="filtrar-form" th:object="${filtros}">
            <fieldset>
                <legend>Filtrar por:</legend>
                <div>
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" name="nombre" th:value="*{nombre}" autofocus=""/>
                </div>
                <div>
                    <label for="apellidos">Apellidos</label>
                    <input id="apellidos" type="text" name="apellidos" th:value="*{apellidos}"/>
                </div>
            </fieldset>
            <input type="submit" class="btn" th:value="#{personas.listado.filtrar.btn}"/>
        </form>
        
        <table border="1">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellidos</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.id}">1</td>
                    <td th:text="${persona.nombre}">Diego</td>
                    <td th:text="${persona.apellidos}">Díez Ricondo</td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
